<h1>Héroe <small></small></h1>
<hr>

<div class="row text-left">
  <div class="col">
    <button routerLink="/heroes" class="btn btn-danger">
      <i class="fa fa-arrow-left">
      </i>
    </button>
  </div>
</div>

<div class="row animated fadeIn faster mt-3">
  <div class="col">

    <form (ngSubmit)="guardar(f) " #f="ngForm">
      <div class="form-group">
        <label>Firebase ID</label>
        <input type="text" class="form-control" name="id" [(ngModel)]="heroe.id" disabled="disabled" placeholder="Firebase ID">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>
      <div>
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="heroe.nombre" placeholder="Nombre del héroe" required>
      </div>
      <div>
        <label>Poder</label>
        <input type="text" class="form-control" name="poder" [(ngModel)]="heroe.poder" placeholder="Poder del héroe">
      </div>
      <div class="text-center">
          <label>Estado</label>
          <br>
          <button *ngIf="heroe.vivo" (click)="heroe.vivo = false" class="btn btn-outline-success w-50" type="button">
              <i class="fa fa-smile-wink"></i>
              Vivo
          </button>
          <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true" class="btn btn-outline-danger w-50" type="button">
                <i class="fa fa-dizzy"></i>
                Muerto
        </button>
      </div>
      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary">
            <i class="fa fa-save"></i>
            Guardar
        </button>
      </div>
    </form>

  </div>
</div>
